body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;
    color: white;
}

.selection {
    display: flex;
    gap: 1em;
    margin: 1em;

    font-size: 2vw;
}

.selection > label {
    display: flex;
    align-items: center;
    gap: 0.5em;

    height: 100%;
}

.responses-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    width: 100%;
    height: 100vh;
}

.response {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    width: 100%;

    display: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15vh;
    color: black;
}

.A {
    background-color: #EA3323
}

.B {
    background-color: #6BF54A;
}

.C {
    background-color: #FFFE54;
}

.D {
    background-color: #007AC8;
}

.Unsure {
    background-color: #D5D5D5;
}